body {
    font-family:'Times New Roman', serif;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 45px;
 }

  h1 {
     color: #18293A;
     font-size: 60px;
     text-align: center;
     padding: 30px;
     border-style: solid;
     background-color: white;
 }

